/*
$kt-media-breakpoints: (
    // Small screen / phone
    sm: 576px,
    
    // Medium screen / tablet
    md: 768px,
    
    // Large screen / desktop
    lg: 1024px,
    
    // Extra large screen / wide desktop
    xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1600px
)!default;
*/
.kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container {
  padding: 0; }
  .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container.kt-invoice__container--centered {
    width: 100%; }

.kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__body {
  padding: 2rem 0 0 0; }
  .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__body.kt-invoice__body--centered {
    width: 100%; }

.kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table {
  padding: 0; }
  .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table.kt-invoice__table--centered {
    width: 100%; }

.kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container {
  padding: 0 5rem 0 5rem; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container.kt-invoice__container--centered {
    width: 70%;
    margin: 0 auto;
    padding: 0; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a {
      text-decoration: none; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a > h1 {
        font-weight: 700;
        font-size: 2.7rem;
        color: #6c7293; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a:last-child {
        text-align: right; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__desc {
    text-align: right;
    display: block;
    padding: 1rem 0 4rem 0;
    font-weight: 400;
    color: #6c7293;
    font-size: 1.1rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__desc > span {
      display: block; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6rem 0 3rem 0;
    border-top: 1px solid #ebedf2; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      overflow: hidden; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item .kt-invoice__subtitle {
        font-weight: 600;
        padding-bottom: 0.5rem;
        color: #6c7293; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item .kt-invoice__text {
        color: #a7abc3;
        font-weight: 400; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item > span {
        display: block; }

.kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body {
  padding: 2rem 5rem 0 5rem; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body.kt-invoice__body--centered {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0 0 0; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table thead tr th {
    padding: 1rem 0 0.5rem 0;
    border-top: none;
    color: #a7abc3;
    font-weight: 500; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table thead tr th:not(:first-child) {
      text-align: right; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table tbody tr td {
    padding: 1rem 0 1rem 0;
    vertical-align: middle;
    border-top: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #6c7293; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table tbody tr td:not(:first-child) {
      text-align: right; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table tbody tr:first-child td {
    padding-top: 1.8rem; }

.kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer {
  margin-top: 9rem;
  padding: 5rem 0 7rem 0;
  background-color: #f7f8fa; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table {
    padding: 0 5rem 0 5rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table.kt-invoice__table--centered {
      width: 70%;
      margin: 0 auto;
      padding: 0; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table table thead tr th {
      padding: 1rem 0 0.5rem 0;
      border-top: none;
      color: #a7abc3;
      border-bottom: 1px solid #ebedf2;
      font-weight: 600; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table table thead tr th:last-child {
        text-align: right; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table table tbody tr td {
      padding: 1.8rem 0 0 0;
      vertical-align: middle;
      border-top: none;
      font-weight: 600;
      font-size: 1.1rem;
      color: #6c7293; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table table tbody tr td:last-child {
        text-align: right;
        font-size: 1.8rem;
        padding-top: 1rem; }

@media (max-width: 768px) {
  .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container {
    padding: 0; }
    .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container.kt-invoice__container--centered {
      width: 100%;
      padding: 0; }
  .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__body {
    padding: 2rem 0 0 0; }
    .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__body.kt-invoice__body--centered {
      width: 100%;
      padding: 0; }
  .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__footer {
    padding: 3rem 0 4rem 0; }
    .kt-invoice-2.kt-invoice-2--fit .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table.kt-invoice__table--centered {
      width: 100%; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container {
    width: 100% !important;
    padding: 0 2rem 0 2rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container.kt-invoice__container--centered {
      padding: 0 2rem 0 2rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo {
      padding-top: 4rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a {
        width: 100%;
        display: block; }
        .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__logo > a:last-child {
          padding-top: 1rem;
          text-align: left; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__desc {
      text-align: left;
      padding-bottom: 2rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items {
      padding: 2rem 0 2rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item {
        width: 100%;
        display: block;
        padding-bottom: 2rem; }
        .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__head .kt-invoice__container .kt-invoice__items .kt-invoice__item:not(:first-child) {
          padding-left: 0; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body {
    width: 100% !important;
    padding: 0 2rem 0 2rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body.kt-invoice__body--centered {
      padding: 0 2rem 0 2rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table thead tr th:not(:first-child) {
      padding-right: 1.5rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table thead tr th:last-child {
      padding-right: 0; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table tbody tr td:not(:first-child) {
      padding-right: 1.5rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__body table tbody tr td:last-child {
      padding-right: 0; }
  .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer {
    margin-top: 4rem;
    padding: 3rem 2rem 4rem 2rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table.kt-invoice__table--centered {
      width: 100%; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table table thead tr th:not(:first-child) {
      padding-left: 2rem; }
    .kt-invoice-2 .kt-invoice__wrapper .kt-invoice__footer .kt-invoice__table table tbody tr td:not(:first-child) {
      padding-left: 2rem; } }
